@import './variables.scss';
@import './reset.scss';
@import './utilities.scss';
@import './mixins.scss';
@import './animations.scss';
@import './form.scss';


.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.badge-category{
    color: $light-color;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 22rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.not-found-message{
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        font-size: 2.4rem;
        color: $danger-color;
    }
}

.zero-stock , .negative-quantity{
    color: $danger-color;
    font-weight: bolder;
}
.in-stock , .positive-quantity{
    color: $success-color;
    font-weight: bolder;
}


.imgs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    div {
        margin: 1rem;
        height: 20rem;
        width: 20rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

.sale-details {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .medium {
    font-size: 1.2rem;
  }
  
  .total-price {
    font-weight: bold;
    margin-bottom: 1rem; /* Ajout d'une marge en bas */
  }
  
  .product-list {
    list-style: none;
    padding: 0;
  }
  
  .product-list li {
    margin-bottom: 1rem; /* Ajout d'une marge en bas */
  }
  
  .product-label {
    font-weight: bold;
  }
  
  .quantity {
    margin-left: 1rem;
  }
  
  .subtotal {
    margin-left: 1rem;
    color: #888;
  }
  
  .btn-generate-pdf {
    margin-top: 1rem;
  }
  
.icone-container{
  height: 10rem;
  width: 10rem;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.fact {
  margin: 2rem 0;
background-color: $primary-color;
padding: 1rem 2rem;
width: 40rem;
color: white;
border-left : 10px solid $secondary-color;
}

.full-img{
  width: 80%;
  display: flex;
  margin: 1rem auto;
  height: 50rem;
  object-fit: cover;
  img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


.icone-sigle{
  width: 10rem;
  height: 10rem;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.plastic-type-card{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
   border: solid 2px $primary-color;
   padding:  2rem;
   border-radius: 10px;
  
  h3{
    text-align: center;
  }

  
  }



  .recyclable-product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 40rem;
    position: relative;
    flex-wrap: wrap;
    background-color: #fff;


    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 2rem ;
     border: solid 2px $primary-color;
     padding:  2rem;
     border-radius: 10px;
    .product-card-thumb{
      width: 100%;
      height: 14rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .plastics{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin: 2rem 0;
   
    }

    .card-icone{
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h2{
      text-align: center;
      font-size: 1.2rem;
    }
  }


  .recyclable-products-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }