@import '../../../SASS/reset';
@import '../../../SASS/variables';
@import '../../../SASS/mixins';
@import '../../../SASS/animations';



.slider {


    display: flex;
    justify-content: center;
    align-items: center;

    height: 30rem;

    width: 100%;
    margin: 0 auto;
    position: relative;

    .slide {

        height: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.navigation-button {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    svg {
        font-size: 3rem;
    
    }

}

.image-info {
    position: absolute;
    z-index: 1;
    right: 0;
    color: #000000
}

.prev-btn {
    left: 30px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    color: $dark-color;
    
    
}

.next-btn {
    right: 30px;
    background-color: transparent;
    color: $dark-color;
}


.slide {
    display: none;
}

.active {
    display: block;
}